@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}
.ga-maamli-regular {
  font-family: "Concert One";
  font-weight: bold;
  margin-left: 20px;
  border-right: 1px solid gray;
  width: 200px;
  position: fixed;
  height: 100vh;
 padding: 10px;
}
.tab-links{
 display: flex;
 flex-direction: column;
 gap: 40px;
}
.tab-links::after{
  
  height: 3px;
  background: #007F00 ;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
  width:0;
}
.tab-links.active-link::after{
  width:100%;
}

